.body {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url("barber.jpg");
    background-size: cover;
    background-position: center;
}

/* Estilo general de los cuadros */
.box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3); /* Transparente */
    padding: 40px;
    color: #c7b1b1;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Posiciones */

.box1 {
    top: 100px;
    left: 145px;
    width: 40%;
    height: 40%;
    background-image: url("images/beard.png");
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(199, 177, 177, 0.8);
    text-shadow: #000 0px 0 10px;
    font-family: 'Times New Roman', Times, serif;
}

.box2 {
    top: 100px;
    right: 145px;
    width: 40%;
    height: 40%;
    background-image: url("images/haircut.png");
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(199, 177, 177, 0.8);
    text-shadow: #000 0px 0 10px;
    font-family: 'Times New Roman', Times, serif;
}

.box3 {
    bottom: 70px;
    left: 400px;
    width: 40%;
    height: 40%;
    background-image: url("images/hair.cut,beard.png");
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(199, 177, 177, 0.8);
    text-shadow: #000 0px 0 10px;
    font-family: 'Times New Roman', Times, serif;
}
.box4 {
    bottom: 0;
    right: 50px;
    width: 40%;
    height: 40%;
}